body{
    text-align: center;
    background-color: #300140;
    color: #ffa500;
}
::selection {
    text-shadow: none;
    background: purple;
}
#logo {  
  width:200px;
  height:200px;
  margin: 30px;
}
#countdown {
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}
h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}
div.timer {
  line-height:20px;
  font-size:20px;
  text-align:center;
  padding-top: 20px;
  color: #396;
  font-weight: 100;
  margin: 40px 0px 20px;
  min-height: 150px;
}
.marginadder {
  margin: 5px;
}